# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

*.gdexpr linguise-language=GDScript
*.gdexpr linguist-detectable
*.tscn linguist-detectable
*.tres linguist-detectable
*.project linguist-detectable
